#videos-container {
  height: calc(100% - 91px);
}

#video-call-wrap {
  border-radius: 20px;
}

#chat-box-incoming-call {
  height: 88px;
}

#user-video-container {
  width: 250px;
  height: 125px;

  video {
    max-width: 100%;
    max-height: 100%;
  }
}

#chat-sidebar {
  width: 250px;
  height: 100%;
  overflow: auto;

  @include to($breakpoint-md) {
    transition: all 0.3s ease-in-out;
    margin-left: -250px;

    &.open {
      margin-left: 0;
    }
  }
}

#chat-box {
  height: 100%;
  overflow: auto;
}

.chat-sidebar-top-buttons {
  button {
    margin: 8px 0;
  }
}
#RoomInfoDialog {
  .modal-body {
    padding: 0;
  }
  .modal-footer {
    border-top: 0;
  }
}